@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* -------- Global -------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* way for an element to clear it's children (floats don't have height) */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100%;
}

body {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}

h5 {
    font-size: 20px;
    margin-top: 10px;
    color: #17191A;
}

p {
    color: #8F9EA5;
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/* ------- Nav ------- */
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}

.navIcons {
    flex: 1;
}

.navIcons {
    text-align: right;
}

.navIcons a {
    display: inline-block;
    margin-left: 20px;
}

.navIcons i {
    margin-right: 10px;
    color: #8F9EA5;
}

.navIcons i:hover {
    color: #17191A;
}

@media (max-width: 375px) {
    .navIcons a {
        display: inline-block;
        margin-left: 5px;
    }
    
    .navIcons i {
        margin-right: 5px;
    }
}

/* ------- Landing ------- */
.landing {
    height: 100vh;
    position: relative;
}

.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.landing-l {
    margin-top: 4em;
}

.landing-l h1 {
    font-size: 80px;
}

.blue {
    color: #027BFF;
}

/* ------- Text Animation -------- */
.animation-one {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.animation-one:first-of-type {
    animation: showup 7s infinite;
}

.animation-one:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.animation-one:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

.animation-one {
    color: #8F9EA5;
    opacity: 0.8;
    font-weight: 100;
    font-size: 50px;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% { opacity:0; width:0px; }
    20% { opacity:1; width:0px; }
    30% { width:355px; }
    80% { opacity:1; }
    100% { opacity:0; width:355px; }
}

@media (max-width: 375px) {
    .animation-one {
        font-size: 20px;
    }
}

/* ------- Profile ------- */
.profile {
    text-align: center;
    margin-bottom: 20em;
}

@media (max-width: 375px) {
    .profile img {
        width: 200px;
    }
}

.profile .emphasis {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to right, #14cefc42 100%, #14cefc42 0);
    background-position: 1.2em 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0.2em 0;
    box-shadow: inset 0 .5em 0 0 white;
}

/* ------- Skills ------- */
.skills {
    text-align: center;
    margin-bottom: 20em;
}

.skills p {
    margin-bottom: 30px;
}

.skills i {
    width: 40px;
    margin: 0 15px;
}

.skills .programs span {
    position: relative;
    cursor: pointer;
}

.skills .programs span:hover:before {
    opacity: 1;
}

.skills .programs span:before {
  content: attr(aria-label);
  opacity: 0;
  position: absolute;
  top: 30px;
  right: -90px;
  font-size: 14px;
  width: 100px;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border-radius: 3px;
  pointer-events: none;
}

/* ------- Project 01 ------- */
.work {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

/* selector to change later on to flip */
.work > .workText {
    position: absolute;
    top: 85;
}

.work > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work > .workImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}

.work ul li {
    margin-top: 20px;
}

/* ------- Project 02 ------- */
.work2 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work2 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}

.work2 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
    float: right;
}

.work2 > .workImg {
    width: 85%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work2 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}

.work2 ul li {
    margin-top: 20px;
}

/* ------- Project 03 ------- */
.work3 {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

/* selector to change later on to flip */
.work3 > .workText {
    position: absolute;
    top: 85;
}

.work3 > .workText > .underline {
    display: block;
    background-color: #027BFF;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.work3 > .workImg {
    width: 85%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}

.work3 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}

.work3 ul li {
    margin-top: 20px;
}

/* ------- All Projects ------- */
.work a, .work2 a, .work3 a {
    text-decoration: none;
    color: #17191A;
}

@media (max-width: 375px) {
    .work > .workText {
        margin-bottom: 10%;
        position: relative;
    }

    .work2 > .workText {
        margin-bottom: 50%;
        position: relative;
    }

    .work3 > .workText {
        margin-bottom: 10%;
        position: relative;
    }

}

/* ------- Footer ------- */
.footer {
    padding-bottom: 7em;
    text-align: center;
}

.footer a {
    color: #8F9EA5;
    text-decoration: none;
}

.footer a:hover {
    color: #17191A;
    text-decoration: none;
}

.col {
    width: 10%;
    display: inline-block;
}

.underlineSmall {
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto 0 auto;
    background-color: #027BFF;
}

@media (max-width: 375px) {
    .col {
        width: 100%;
        display: block;
    }

    .col h3 {
        line-height: 250%;
    }
}