html {
    background-color: #fff;
}

a {
    color: black;
}

a:hover {    
    color: rgb(112, 112, 112);
}

.dashed-underline {
    border-bottom: 2px rgb(255, 162, 131) dashed;
    display: inline-block;
    line-height: 0.85;
}

.bio-div {
    text-align: center;
}

.sub-header {
    padding-right: 10%;
}

.bio-div h2 {
    padding-top: 10%;
}

.bio-div p {
    font-size: 18px;
    padding-bottom: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.nav-link a {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px rgb(255, 162, 131) solid;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-link a {
    display: inline-block;
    margin-left: 20px;
    border-bottom: 2px rgb(255, 162, 131) solid;
    line-height: 0.85;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.header-with-nav {
    display: flex;
}

.project a {
    font-weight: bold; 
}

@media only screen and (max-width: 754px) {
    html {
        width: 100%;
    }
    .header-with-nav {
        flex-direction: column;
    }
}