html {
    background-color: #fff;
}

a {
    color: #5860b0;
    /* #329B86;     */
}

a:hover {    
    color: #000;
}

.bio-emphasis {
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding: 0 10px;
    z-index: 2;
}

.bio-emphasis:after {
    content: '';
    background: linear-gradient(90deg, rgba(217,219,237,0.8), rgba(159,159,208,0.8), rgba(88,96,176,0.8));
    /* linear-gradient(90deg, rgba(209,240,234,0.8), rgba(147,220,205,0.8), rgba(70,195,170,0.8)); */
    height: 5px;
    position: absolute;
    top: 56.5%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: -1;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.nav-link a {
    display: inline-block;
    margin-left: 20px;
}

.text-title {
    color: #5860b0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-small {
    flex-grow: 2;
    padding-right: 10px;
}

.column-large {
    flex-grow: 8;
}

.column-work {
    padding-top: 30px;
}

.pink {
    content: '';
    display: block;
    min-height: 175px;
    min-width: 175px;
    width: 20vh;
    height: 20vh;      
    background: rgb(217,219,237);
    background: linear-gradient(302deg, rgba(217,219,237,1) 0%, rgba(159,159,208,1) 46%, rgba(88,96,176,1) 88%);
    /* background: rgb(209,240,234);
    background: linear-gradient(302deg, rgba(209,240,234,1) 0%, rgba(147,220,205,1) 46%, rgba(70,195,170,1) 88%); */
    border-radius: 100% 37% 51% 100% / 100% 72% 70% 51%;
    animation: transform-one 10s ease-in-out infinite both alternate;
}

.purple {
    content: '';
    display: block;
    min-height: 175px;
    min-width: 175px;
    width: 20vh;
    height: 20vh;      
    background: rgb(88,96,176);
    background: linear-gradient(302deg, rgba(88,96,176,1) 0%, rgba(159,159,208,1) 46%, rgba(217,219,237,1) 88%);
    /* background: rgb(70,195,170);
    background: linear-gradient(302deg, rgba(70,195,170,1) 0%, rgba(147,220,205,1) 46%, rgba(209,240,234,1) 88%); */
    border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%;
    animation: transform-two 10s ease-in-out infinite both alternate;
}

.blue {
    content: '';
    display: block;
    min-height: 175px;
    min-width: 175px;
    width: 20vh;
    height: 20vh;      
    /* background: rgb(209,240,234);
    background: linear-gradient(302deg, rgba(209,240,234,1) 0%, rgba(147,220,205,1) 46%, rgba(70,195,170,1) 88%); */
    background: rgb(217,219,237);
    background: linear-gradient(302deg, rgba(217,219,237,1) 0%, rgba(159,159,208,1) 46%, rgba(88,96,176,1) 88%);
    border-radius: 100% 37% 51% 100% / 100% 72% 70% 51%;
    animation: transform-three 10s ease-in-out infinite both alternate;
}

.column h2 {
    position: absolute;
    padding-left: 40px;
    z-index: 10;
}

@keyframes transform-one {
    0%,  
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 60% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
   100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
}

@keyframes transform-two {
    0%,  
   14% { border-radius: 38% 60% 70% 16% / 79% 50% 40% 21%; } 
   28% { border-radius: 44% 52% 48% 42% / 79% 60% 30% 21%; } 
   42% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   56% { border-radius: 51% 49% 70% 43% / 60% 40% 45% 40%; } 
   70% { border-radius: 34% 64% 77% 26% / 73% 54% 45% 19%; }
   84% { border-radius: 56% 64% 60% 60% / 45% 51% 29% 55%; } 
   100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
}

@keyframes transform-three {
    0%,
   14% { border-radius: 56% 64% 60% 60% / 45% 51% 29% 55%; } 
   28% { border-radius: 84% 52% 48% 72% / 59% 70% 40% 67%; } 
   42% { border-radius: 71% 38% 65% 55% / 52% 50% 62% 34%; } 
   56% { border-radius: 71% 36% 57% 43% / 68% 50% 50% 53%; } 
   70% { border-radius: 60% 40% 44% 56% / 42% 67% 35% 34%; } 
   84% { border-radius: 56% 64% 40% 40% / 32% 45% 42% 78%; } 
   100% { border-radius: 73% 47% 64% 36% / 45% 48% 62% 56%; }
}
