@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans:300&display=swap');

/* -------- Variables -------- */
:root {
    --primary-color: #7ec13c;
    --font-color: #828282;
    --bg-color: transparent;
    --heading-color: #17191A;
    --emphasis: black;
    --p-emphasis: #7ec13c;
    --fab: black;
}

[data-theme="dark"] {
    --primary-color: #7ec13c;
    --font-color: #CECECE;
    --bg-color: #222222;
    --heading-color: white;
    --emphasis: white;
    --p-emphasis: #657a50;
    /* 7fc13c67; */
    --fab: white;
}

/* -------- Global -------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: var(--bg-color);
}

/* way for an element to clear it's children (floats don't have height) */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 100%;
}

body {
    width: 60%;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    color: var(--heading-color);
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: var(--heading-color);
}

h5 {
    font-size: 20px;
    margin-top: 10px;
    color: var(--heading-color);
}

p {
    color: var(--font-color);
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

/* ------- Nav ------- */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    display: inline-block;
}

.nav-links {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.nav-link a {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
    color: var(--emphasis);
    border-bottom: 2px solid var(--emphasis);
}

.nav-link:first-child  {
    margin-left: 0; 
}

.nav-link:last-child  {
    margin-right: 30px; 
}

.nav-link:hover a {
    border-bottom-width: 0px;
}

/* ------- Landing ------- */
.landing {
    height: 100vh;
    position: relative;
}

.landingWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.landing-l {
    margin-top: 100px;
}

.landing-l h1 {
    font-size: 80px;
}

@media only screen and (max-width: 500px) {
    .landing-l h1 {
        font-size: 60px;
    }
}

/* ------- Text Animation -------- */
.animation-one {
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    animation: showup 7s infinite;
    padding-right: 45%;
}

.animation-one {
    color: var(--font-color);
    opacity: 0.8;
    font-weight: 100;
    font-size: 28px;
}

@keyframes showup {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media only screen and (max-width: 500px) {
    .animation-one {
        font-size: 20px;
        padding-right: 25%;
    }
}

/* ------- Profile ------- */
.profile {
    text-align: center;
    margin-bottom: 10em;
}

.profile h1 {
    padding-bottom: 20px;
}

.profile .bio {
    margin-bottom: 20px;
}

.profile .bio p {
    font-size: 16px;
}

.card-container {
    display: grid;
    padding-top: 30px;
    margin-bottom: 40px;    
    grid-column-gap: 32px;
    grid-row-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    
}

.card {
    padding: 24px;
    border: 0px;
    border-radius: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.card h4 {
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 10px;
}

.card span {
    color: var(--primary-color);
}

.card p {
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

/* ------- Work ------- */
.work {
    margin-bottom: 10em;
}

.work-desc {
    font-size: 18px;
}

.work-desc a {
    color: var(--emphasis);
    text-decoration: none;
}

.work-desc a:hover {
    color: var(--primary-color);
}

/* ------- Projects ------- */
.projects {
    margin-bottom: 10em;
}

.projects h1 {
    margin-bottom: 10px;
}

.project-title {
    color: var(--emphasis);
    text-decoration: underline #7ec13c;
}

.project-desc {
    font-size: 18px;
}

.project-tech, .project-learn-more {
    color: var(--emphasis);
    font-size: 16px;
    margin: 0;
}

.projects span {
    color: var(--font-color);
}

.projects a {    
    color: var(--font-color);
    margin-right: 10px;
    text-decoration: 0.5px solid var(--font-color);
}

.projects a:hover {    
    color: var(--primary-color);
}

/* ------- Footer ------- */
.footer {
    padding-bottom: 1em;
    text-align: center;
}

.footer a {
    color: var(--font-color);
    text-decoration: none;
}

.footer a:hover {
    color: #17191A;
    text-decoration: none;
}

.footer p {
    color: var(--emphasis);
}

.footer .col p {
    font-size: 16px;    
}

.footer-finish {
    font-size: 75%;
}

.col {
    width: 10%;
    display: inline-block;
    margin: 20px 0px;
}

.col a:hover + .underlineSmall {
    background-color: #000000;
}

.underlineSmall {
    display: block;
    height: 1px;
    width: 41px;
    margin: 5px auto 0 auto;
    background-color: var(--primary-color);
}

@media (min-width: 501px) and (max-width: 796px) {
    .col {
        width: 35%;
    }
}

@media (max-width: 500px) {
    .col {
        width: 100%;
        display: block;
    }

    .col h3 {
        line-height: 250%;
    }
}

/* ------- Theme Toggle ------- */
.theme-toggle-wrapper {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
}

.theme-toggle {
    display: inline-block;
    height: 23px;
    position: relative;
    width: 50px;
}
  
.theme-toggle input {
    display: none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}
  
input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* ------- Technical ------- */
.technical {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

@media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  
    .double-column {
      flex: 2
    }
}